<div class="about row">

    <div class="col-md-12">


        <h2>立即成為 WEB 開發者</h2>

        <p>HelloJS 訓練營由 Trunk Studio 專為有志踏入 WEB 領域的學生打造，聯合多年來的業界夥伴共同營運。我們以業界實戰與培訓經驗為基礎，總結出最適合新手入門的 JavaScript 課程，目的在於打破『不知道如何開始』的循環，為你打造一個『能夠自學的自己』。</p>


        <h2>活動官網:</h2>

        <a href="https://hellojs.school/" target="_blank">HelloJS-JavaScript暑期苦幹實做訓練營</a>

        <h2>教材目錄:</h2>

        <a href="http://2017.hellojs.school/" target="_blank">2017-summer-camp</a>

        <h2>公司官網:</h2>

        <a href="http://trunk-studio.com/" target="_blank">Trunk Studio</a>

    </div>

</div>
